devtools
here
pacman
tictoc

doSNOW
foreach
iterators
parallel

dplyr
fst
janitor
lubridate
magrittr
purrr
readr
stringr
tibble
tidyr

ncdf4
nngeo
raster
rgdal
sf
sp
terra

DHARMa
gstat
geoR # maybe we don't need this??

corrplot
cowplot
ggplot2
scico
tmap
viridis
