# package management packages
devtools
here
pacman
tictoc

# parallelization packages
doSNOW
foreach
iterators
parallel

# data wrangling packages
dplyr
fst
janitor
lubridate
magrittr
purrr
readr
stringr
tibble
tidyr

# spatial data packages
ncdf4
nngeo
raster
rgdal
sf
sp
terra

# stats packages
DHARMa
geoR
gstat

# visualization packages
corrplot
cowplot
ggplot2
scico
tmap
viridis
